.wrapper-change-pass-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: .1vh solid #e7effb;
    border-bottom: .1vh solid #e7effb;
}
.change-pass-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.change-pass-form {
    display: flex;
    flex-direction: column;
}
.button-change-pass-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vh;
}
.error-container {
    margin-top: 3vh;
}
.icon-password-container {
    display: flex;
    align-self: flex-end;
    border-bottom: .2vh solid lightgrey;
 }
.icon-password-input-cotainer {
    display: flex;
    flex-direction: row;
}
.icon-password-container {
    padding-right: 2vh;
}
.icon-password-change-container {
    display: flex;
    flex-direction: row;
}
.icon-password-show-container {
    display: flex;
    align-self: flex-end;
    border-bottom: .2vh solid lightgrey;
}

