.wrapper-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(109, 108, 108);
    opacity: .6;
}
.modal-container {
    position: absolute;
    top: 15%;
    right: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-radius: 0.5vh;

}
.text {
    font-size: .8em;
    text-align: center;
}


