.forgot-password-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.forgot-password-form {
    display: flex;
    flex-direction: column;
}
.wrapper-container {
    flex-direction: row;
}
.text-container {
    flex-direction: column;
}
.wrapper-foggot-pass-container, .text-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: .1vh solid #e7effb;
    border-bottom: .1vh solid #e7effb;

}
.button-forgot-password-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vh;
}
.forgot-pass-header {
    font-size: 2em;
}
.instructions-text-container {
    margin-bottom: 3vh;
}
