.active-load-box {
    display: flex;
    flex-direction: column;
    border-top: .1vh solid #e7effb;
    border-bottom: .1vh solid #e7effb;
}
.active-driver-load-box, .active-shipper-load-box {
    margin: 2vh 5vh 0 15vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.container-active-load {
    display: grid;
    margin: 5vh 0 0 15vh;
}

